@import "tailwindcss";
@font-face {
  font-family: 'Netflix Sans';
  src: url('./assets/fonts/netflix-sans-core-variable-full.woff2') format('woff2');
}
body {
 font-family: Netflix Sans, Helvetica, Arial, sans-serif;
}

h1{
  font-family: Netflix Sans, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
}